/*POST HEADER IMAGE*/

.single .entry-header .post-thumb img {
	border-radius: 30px;
}

/*YOUTUBE VIDEO EMBED for better Pagespeed*/

.video {
	position: relative;
	padding-bottom: 56.23%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	margin: 5px;
  
	div {
	  cursor: pointer;
	  -webkit-transition: .6s all;
	  -moz-transition: .6s all;
	  transition: .6s all;
	  display: block;
  
	  &:hover span {
		-webkit-filter: brightness(100%);
	  }
  
	  img {
		width: 100%;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	  }
  
	  span {
		width: 94px;
		height: 64px;
		position: absolute;
		background: url(https://1.bp.blogspot.com/-94QEg1Pk9tw/WGhNhfqMs-I/AAAAAAAAA1w/u3gEPfwh4hwMkWeAu-_PteMTFlSfy8pqACLcB/s1600/1483251316_5295_-_Youtube_I.png) no-repeat;
		background-position: 50% 50%;
		left: 50%;
		top: 50%;
		margin-left: -47px;
		margin-top: -32px;
		-webkit-filter: brightness(75%);
	  }
	}
  
	iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 100;
	  background: transparent;
	}
  }