

/*MARGINS*/

.margin-top-10 {
    margin-top: 10%;
}

.margin-bottom-10 {
    margin-bottom: 10%;
}

.margin-top-bottom-10 {
    margin: 10% 0; 
}

.margin-left-right-10 {
    margin: 0 10%;
}


.margin-top-5 {
    margin-top: 5%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.margin-top-bottom-5 {
    margin: 5% 0; 
}

.margin-left-right-5 {
    margin: 0 5%;
}


/*EXTRA FONT SETTINGS*/

.h2_span {
    font-size: 2.2em;
    font-weight: 600;
    text-transform: none;
    line-height: 1.1em;
    margin-bottom: 10%;
}